@font-face {
  font-family: 'ViaodaLibre';
  src: url('../fonts/ViaodaLibreRegular.ttf') format(opentype);
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Alana';
  src: url('../fonts/Alana.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant.ttf') format(opentype);
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --mainFont: 'ViaodaLibre', serif;
  --titleFont: 'Alana', serif;
  --commonFont: 'Cormorant', sans-serif;

  --dark: #343a40;
  --gray: #6c757d;
  --lightgray: #D9D9D9;

  --navbarColor: rgba(245, 245, 245);
  --accentColor: #f2f3f4;

  --buttonColor: linear-gradient(90deg, #d4aaaa, #97a0c2);
  --applyColor: #9aff9a;
  --cancelColor: #F08080;

  --minPicSize: 300px;
  --mediumPicSize: 400px;
  --largePicSize: 450px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: var(--commonFont);
  font-size: medium;
  font-weight: 100;

  color: var(--dark);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  color: var(--dark);
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--mainFont);
  font-size: x-large;
}

.Main {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  min-height: calc(100vh - 170px);
}

/* margin after footer */
.Main>*:last-child {
  margin-bottom: 30px;
}

/* shadows effect */
section {
  transition: box-shadow .3s ease-in-out;
}

section:hover {
  box-shadow: 0 10px 10px -10px;
  transition: box-shadow .3s ease-in-out;
}

/* desktop */
@media (min-width: 750px) {
  .Main {
    min-height: calc(100vh - 300px);
  }
}

@media (min-width: 1080px) {
  .Main {
    min-height: calc(100vh - 270px);
  }
}

/* scrollbar */
div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

div::-webkit-scrollbar-track {
  background-color: #f2f3f4;
}

div::-webkit-scrollbar-thumb {
  background-image: var(--buttonColor);
  border-radius: 100px;
}