/* mobile */
.FilterPanel {
  display: flex;
  width: 70%;

  align-self: center;
  justify-content: center;
}

.MainFilter {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  align-items: center;
}

.ViewPanel,
.ViewButton {
  display: none;
}

/* contextual editing of component styles */
.MainFilter select {
  margin-top: 10px;
}

/* desktop */
@media (min-width: 750px) {

  .FilterPanel {
    flex-flow: row;
    width: 70%;
  }

  .MainFilter {
    flex-flow: row nowrap;
    flex: 1 0 auto;
    width: 70%;
    justify-content: center;
    margin-left: 15%;
  }

  .ViewPanel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 15%;
  }

  .ViewButton {
    display: flex;
    height: 25px;
    width: 25px;
    margin: 5px;
    background: lightcoral;
  }

  /* contextual editing of component styles */
  .MainFilter input {
    width: 50%;
    margin-right: 3%;
  }

  .MainFilter select {
    width: 40%;
    margin: 0;
  }
}