.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.Modal.active {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  display: flex;
  flex-flow: column nowrap;

  width: 70%;
  padding: 25px;

  color: black;
  background-color: aliceblue;
  border: 1px solid var(--dark)
}

.NewProp {
  display: flex;
  flex-flow: row nowrap;
}

.NewProp>* {
  margin: 5px;
}