/* container */
.Item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  border: thin solid var(--lightgray);
  cursor: pointer;
  font-size: 1.2rem;
}

/* item image */
.Item img {
  width: 100%;
  height: auto;
}

/* item info panel */
.ItemNav {
  display: flex;

  margin: 5px 0;
  align-items: center;
}

.ItemNav :last-child {
  display: inherit;
  margin-left: auto;
}

@media (min-width: 500px) {
  .Item {
    max-width: 300px;
    padding: 5px;
    font-size: .85rem;
  }
}

@media (min-width: 1000px) {
  .Item {
    font-size: 1rem;
  }
}