.Section {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 1000px;

  padding: 1%;
  align-self: center;
  align-content: center;

  text-align: center;
  border: thin solid var(--dark);
}