/* контейнер с логотипом и названием приложения */
.logo,
.logo>a {
  display: flex;
}

.logotype>img {
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

/* главный заголовок с названием магазина */
.title {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 auto;
  align-self: center;
}

/* десктопная версия */
@media (min-width: 750px) {
  .logo {
    margin-left: 15%;
  }
}