/* mobile */
header {
  display: flex;
  flex-flow: row wrap;
  width: 70%;

  margin-left: 15%;
  height: 120px;

  justify-content: center;
  align-items: center;
}

/* desktop repositioning nav forcely */
@media (min-width: 750px) and (max-width: 1080px) {
  header nav {
    justify-content: center !important;
  }

  header {
    height: 150px;
  }
}