/* mobile */
.Navbar {
  display: none;
  font-family: var(--mainFont);
}

/* desktop */
@media (min-width: 750px) {

  .Navbar {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;

    width: min-content;
  }

  .Navbar>span {
    display: block;
    margin: 0 10px;
    padding: 5px 10px;

    cursor: pointer;

    text-align: center;
    white-space: nowrap;
  }

  .Navbar>span:first-child {
    margin-left: 0;
  }

  .Navbar>span:last-child {
    margin-right: 0;
  }
}