.CatalogModalWrapper button {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
}

.ModalRow {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.ModalRow span {
  flex: 1 0 auto;
  padding: 10px 0;
  border: 1px solid var(--dark);
}