.AsideProps {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.AsideProps h1 {
  display: flex;
  justify-content: center;
}

.AsideProps button {
  display: flex;
  width: 100% !important;

  margin: 5% 0;
  order: -1;
}

.ProductInfo {
  display: flex;
  flex-flow: column nowrap;
}

.InfoRow {
  display: flex;
  margin: 15px;
  align-items: start;

  border-bottom: 1px solid var(--lightgray);
}

.InfoRow>* {
  margin: 5px 0;
}

/* title */
.InfoRow span:first-child {
  margin-right: 20px;
}

/* description */
.InfoRow span:last-child {
  display: flex;
  margin-left: auto;
  font-size: 0.9rem;

  text-align: end;
}

/* desktop */
@media (min-width: 750px) {
  .AsideProps {
    width: 50%;
  }

  .ProductInfo {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    overflow-y: scroll;
  }

  .AsideProps button {
    margin-top: 5%;
    margin-left: auto;
    order: 0;
    width: 125px !important;
  }
}