.AsideProps {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
}

.AsideProps h1 {
  display: flex;
  justify-content: center;
}

.AsideProps button {
  display: flex;
  width: 100% !important;

  margin: 5% 0;
  order: -1;
}

.ProductInfo {
  display: flex;
  flex-flow: column nowrap;

  font-size: medium;
  border: 1px solid var(--lightgray);
}

.InfoRow {
  display: flex;
  margin: 15px;
  align-items: start;

  border-bottom: 1px solid var(--lightgray);
}

.InfoRow>* {
  margin: 5px 0;
}

/* title */
.InfoRow span:first-child {
  margin-right: 20px;
  font-weight: 600;
}

/* description */
.InfoRow span:last-child {
  display: flex;
  margin-left: auto;
  font-size: 0.9rem;

  text-align: end;
}

/* desktop */
@media (min-width: 750px) {
  .ProductInfo {
    display: flex;
    flex-flow: column nowrap;
    height: var(--minPicSize);

    overflow-y: scroll;
  }

  .AsideProps button {
    order: 0;
    width: 125px !important;
    margin: auto 0;
    margin-left: auto;
  }
}

@media (min-width: 1000px) {
  .ProductInfo {
    height: var(--mediumPicSize);
  }
}

@media (min-width: 1300px) {
  .ProductInfo {
    height: calc(var(--largePicSize) - 80px);
  }
}