input {
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  transition: border .3s ease-in-out;
}

input::placeholder {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

input:hover::placeholder {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

input:focus::placeholder,
input:active::placeholder {
  opacity: 0;
}

input:active,
input:focus {
  outline: none;
}