.AddProductSectionWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 70%;

  margin-top: 50px;
  align-content: center;
  text-align: center;

  padding: 1%;
  border: 1px solid var(--dark);
}

.AddProductSectionWrapper * {
  margin-top: 10px;
}

.AddProductSectionWrapper h1 {
  margin-bottom: 0;
}

.AddProductPanel,
.Buttons {
  display: flex;
  flex-flow: inherit;
  align-items: center;
}

.Buttons {
  width: 100%;
  margin-top: 0;
}

.Buttons button:last-child {
  margin-left: auto;
}