/* mobile */
.Navbar {
  display: none;
}

/* desktop */
@media (min-width: 750px) {

  .Navbar {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;

    margin-right: 15%;

    justify-content: flex-end;
    align-items: center;
  }

  .Navbar>div {
    margin: 0 3% 0 3%;
    cursor: pointer;
  }

  .Navbar>div:last-child {
    margin-right: 0;
  }
}